<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showcamera" (click)="fermercamera">
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div *ngIf="!showcamera">
    
  <ion-item *ngIf="textScanner" lines="none">
    <ion-label>
      <p>Text du QR Code</p>
      <h2><b>{{textScanner}}</b></h2>
    </ion-label>
  </ion-item>

   <ion-button expand="block" (click)="scanCode()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    scanner un QR Code
  </ion-button>
    </div>

  <div *ngIf="!showcamera">
  <ion-item lines="none">
    <ion-label><b>Text a encoder:</b></ion-label>
    <ion-input [(ngModule)]="textToCode" placeholder="entrez votre URL"></ion-input>
  </ion-item>

  <ion-button color="tertiary" expand="block" (click)="lectureQRCode()">
    <ion-icon slot="start" name="create"></ion-icon>
    ouvrir le lecteure de QR Code
  </ion-button>

  <div class="center" *ngIf="myAngularxQrCode">

  <qrcode [qrdata]="myAngularxQrCode" [size]="256" [lavel]="M"></qrcode>
  </div>
</ion-content>
